<div class="overall">

	<div id ="wrapper" class="container">

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
			  			<li> <a href="#/">Log off</a> </li>
					</ul>
				</div>
			</div>
		</nav>

			<!-- <a href="#/" class="btn btn-link">Log off</a> -->
			<!-- <p class="nav_link navbar-right"><a href="#/">Log off</a></p> -->
			<div style="text-align: center;">
		  			<h1>Discussion Board</h1>
		  			<h2>Welcome {{current_user.name}} !</h2>
		  			<!-- <p class="nav_link navbar-right"><a href="#/">Log off</a></p> -->
			</div>
		<div ng-controller='topicsController'>

			<div class="form-group">
					      <!-- <label for="inputFilter" class="col-lg-2 control-label">Filter</label> -->
					      <div class="col-lg-10" style="padding-left: 0px;">
					        <input type="text" class="form-control" style="width:200px; height:35px;" ng-model="filter_name" placeholder="Filter">
					      </div>
			</div>

			<div>
				<!-- <label>
					<input type="text" ng-model="filter_name" placeholder="filter...">
				</label> -->
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Category</th>
							<th>Topic</th>
							<th>User Name</th>
							<th># of Answers</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="topic in topics | filter:filter_name" class="info">
							<td>{{topic.category}}</td>
							<td><a href="#/topic/{{topic._id}}">{{topic.topic}}</a></td>
							<td><a href="#/user/{{topic.user_id}}">{{topic.user}}</a></td>
							<td>{{topic.num_answers}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<form class="form-horizontal" style="text-align: center;">
				<fieldset>
					<legend>New Topic?</legend>

						<div class="form-group" style="margin: auto; margin-bottom: 10px;">
					      <label for="inputTopic" class="col-lg-2 control-label">Topic</label>
					      <div class="col-lg-10">
					        <input type="text" class="form-control" style="width:200px; height:35px;" ng-model="new_topic.topic" placeholder="Enter Topic">
					      </div>
					    </div>

					    <div class="form-group" style="margin: auto; margin-bottom: 10px;">
					      <label for="inputDescription" class="col-lg-2 control-label">Description</label>
					      <div class="col-lg-10">
					        <textarea class="form-control" rows="3" type="text" style="width:500px;" ng-model="new_topic.description" placeholder="Enter Description"></textarea>
					      </div>
					    </div>
					<!-- <p>
						Topic: <input type="text" ng-model="new_topic.topic">
					</p> -->
					<!-- <p>
						Description: <textarea ng-model="new_topic.description"></textarea>
					</p> -->
					<div class="form-group" style="margin: auto; margin-bottom: 10px;">
						<label for="select" class="col-lg-2 control-label">Category</label>
						<div class="col-lg-10">
							<select class="form-control" id="select" style="width:200px; height:35px;" ng-model="new_topic.category">
								<option>Javascript</option>
								<option>Node</option>
								<option>Angular</option>
								<option>Backbone</option>
								<option>Underscore</option>
								<option>Mongoose</option>
							</select>
						</div>
					</div>
					<div class="form-group" style="margin: auto; margin-bottom: 10px;">
	      				<div class="col-lg-10 col-lg-offset-2">
							<button ng-click="createTopic(new_topic)" class="btn btn-info">Submit</button>
						</div>
					</div>
				</fieldset>
			</form>

		</div>
	</div>
</div>
		