<div class="container">
<nav class="navbar navbar-default">
	<div class="container-fluid">

		<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand">Discussion Board</a>
	    </div>


			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
		  			<li> <a href="#/dashboard">Dashboard</a> </li>
		  			<li> <a href="#/">Log off</a> </li>
				</ul>
			</div>
	</div>
</nav>

	<div ng-controller='usersController'>
		<h3 style="text-align: center;">Username: {{user.name}}</h3>
		<h4 style="text-align: center;">Posted:</h4>
		<ul>
			<li>{{user.num_topics}} Topic(s)</li>
			<li>{{user.num_answers}} Answer(s)</li>
			<li>{{user.num_comments}} Comment(s)</li>
		</ul>
	</div>
</div>
